body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: black;
}

h1 {
  font-family: "Playfair Display", serif;
  color: #78536a;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  padding: 10px;
  margin: 10px;
}

.jumbotron {
  text-align: center;
}

.lead {
  padding-top: 10px;
}

.description {
  margin: 10px;
  padding: 10px;
  white-space: pre-wrap;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid #cee5f2;
}

.hour {
  border-right: 1px solid #cee5f2;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.past {
  background-color: #aeaeae;
  color: white;
}

.present {
  background-color: #ff726f;
  color: white;
}

.future {
  background-color: #86dc3d;
}

.saveBtn {
  background-color: #78536a;
  border: none;
  color: #ffffff;
}

.saveBtn:hover {
  background-color: lightgrey;
}
